@charset "utf-8";
@use "setting" as setting;

//全ページ共通クラス

.pc-display {
  @include setting.sp() {
    display: none;
  }
}

.sp-display {
  @include setting.pc() {
    display: none;
  }
}

.l-wrap {
  padding: 50px 15px;
  max-width: 900px;
  margin: 0 auto;
  @include setting.sp() {
    width: unset;
    padding-top: 20px;
  }
}

.l-container {
  background: #fff;
  border-radius: 30px;
  box-shadow: 11px 11px 0px #f2d6d7;
}

.l-inner {
  padding: 50px 50px 30px;
  @include setting.sp() {
    padding: 40px 20px 20px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: 15px;

  & > span {
    margin: 0 7px;
    font-size: 12px;
    position: relative;
    top: 2px;

    @include setting.sp() {
      top: 1px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .post {
    color: #333;
  }

  a {
    color: #777;
    font-size: 12px;
  }
}

.heading {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a1a1a1;

  h1 {
    text-shadow: 0px 1px 5px #a1a1a1;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    font-size: 20px;
    @include setting.sp() {
      padding: 60px 0;
    }

    span {
      display: block;
      font-size: 30px;
    }
  }
}

// Header Navigation
/* styles.css */

.toggleButon {
  padding: 0;
  z-index: 99;
  width: 30px;
  height: 40px;
  border: unset;
  background: unset;
  position: absolute;
  right: 40px;
  z-index: 999;

  @media (min-width: 768px) {
    display: none;
  }

  span {
    transition: 0.3s;
  }
}

.line01,
.line02,
.line03 {
  width: 100%;
  height: 3px;
  background-color: setting.$text;
  display: block;
  border-radius: 100vmax;
  opacity: 1;
}

.line01 {
  transform: translate(0, -7px);
}

.line03 {
  transform: translate(0, 7px);
}

.toggleButon[aria-expanded="true"] > .line01 {
  transform: translate(0, 2px) rotate(-45deg);
  background: #fff;
}

.toggleButon[aria-expanded="true"] > .line02 {
  opacity: 0;
}

.toggleButon[aria-expanded="true"] > .line03 {
  transform: translate(0, -4px) rotate(45deg);
  background: #fff;
}

.navigation {
  @media (max-width: 767px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 100%;
    padding: 5rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: #e298aa;
    transition: 0.5s;
    z-index: 998;
  }
}

.navigation[aria-hidden="false"] {
  @media (max-width: 767px) {
    margin-left: 50%;
    transition: 0.5s;
  }
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
